<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">skill</h2>
                    <h3 class="section-subheading text-muted">
                        <div class='text-area'>
                        컴퓨터 공학과를 진학하면서 컴퓨터에 대한 기초를 익히면서, 3학년 2학기 때부터 다양한 프로그래밍을 경험해보자는 생각을 가지고 <br>
                        개인 프로젝트를 하면서 android, java, javascript, python 등 의 다양한 언어 및 분야의 기초를 익혔습니다.<br>
                        그렇게 졸업하기 전까지 다양한 분야를 접하면서 제가 좀 더 흥미를 느낄 수 있는 분야에 대해 고민하는 중에 deep learning (DL) 를 접하게 되었습니다.<br>
                        다른 분야의 프로그래밍과 비교해서 DL에 더 많은 흥미를 느끼게 되었고, 그 때부터 더 깊이 공부하면서 DL 개발자로 뛰어들게 되었습니다.<br>
                        아직은 계속 성장해나가는 중이지만, DL/ML 분야의 전문가가 되기 위해 끊임없이 나아가고 있습니다.
                        </div>
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"><div>상</div></i> -->
                        <i class="fa fa-stack-1x fa-inverse">상</i>
                    </span>
                    <h4 class="service-heading">능숙하게 할 수 있음<br><br></h4>
                    <div style="display: inline-block">
                        <div class="text-muted" style="text-align: left;">
                            <ul>

                                <li>
                                    <strong class="strong-bold">deep learning</strong>
                                    <ul type="square">
                                        <li>image segmentation<br>(HardNet, UNet, etc.)</li>
                                        <li>image classification<br>(MobileNet, EfficientNet, etc.) </li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    <strong class="strong-bold">python</strong>
                                    <ul type="square">
                                        <li>tensorflow</li>
                                        <li>pytorch</li>
                                        <li>opencv</li>
                                        <li>pandas</li>
                                        <li>etc.</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    server (ubuntu, centos)
                                    <ul type="square">
                                        <li>docker</li>
                                        <li>resource monitoring</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    tool
                                    <ul type="square">
                                        <li>visual studio code</li>
                                        <li>jupyter lab, notebook</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
                        <i class="fa fa-stack-1x fa-inverse">중</i>
                    </span>
                    <h4 class="service-heading">개념과 기초를 알고,<br>약간의 검색을 통하여 바로 사용할 수 있음</h4>
                    <div style="display: inline-block">
                        <div class="text-muted" style="text-align: left;">
                            <ul>
                                <li>
                                    <strong class="strong-bold">deep learning</strong>
                                    <ul type='square'>
                                        <li>reinforcement DL<br>(DQN, Double DQN)</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    <strong class="strong-bold">machine learning</strong>
                                    <ul type='square'>
                                        <li>feature engineering</li>
                                        <li>LGBM</li>
                                        <li>PCA</li>
                                        <li>etc.</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    <strong class="strong-bold">python</strong>
                                    <ul type='square'>
                                        <li>flask</li>
                                        <li>crawling<br>(selenium, beautifulsoup)</li>
                                        <li>GUI (tkinter)</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    html, css
                                    <ul type='square'>
                                        <li>bootstrap</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    javascript
                                    <ul type='square'>
                                        <li>nodejs</li>
                                        <li>crawling</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    c, c++
                                </li>
                                <br>
                                <li>
                                    java
                                    <ul type='square'>
                                        <li>android</li>
                                        <li>spring boot</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    Database
                                    <ul type='square'>
                                        <li>mysql, mariaDB</li>
                                        <li>postgresql</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    server
                                    <ul type='square'>
                                        <li>aws (ec2, s3)</li>
                                        <li>shell script</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                        <i class="fa fa-stack-1x fa-inverse">하</i>
                    </span>
                    <h4 class="service-heading">기초를 알고, 검색하여 사용할 수 있음<br><br></h4>
                    <div style="display: inline-block">
                        <div class="text-muted" style="text-align: left;">
                            <ul>
                                <li>
                                    <strong class="strong-bold">deep learning</strong>
                                    <ul type="square">
                                        <li>object detection</li>
                                        <li>STT</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    <strong class="strong-bold">machine learning</strong>
                                    <ul type="square">
                                        <li>PCA</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    python
                                    <ul type='square'>
                                        <li>django</li>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    MFC
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>